<!-- <nb-layout nbScrollable="false">
  <nb-layout-header fixed id="headert">
    <nb-user size="large" class="m-5" [picture]="profile?.imageURL" name="{{profile?.firstName}} {{profile?.lastName}}">
    </nb-user>
  </nb-layout-header> -->
  <nb-layout-column class="p-0 mt-0">
    <!-- layout row -->
    <div class="row mt-0">
      <!-- layout col-1 -->
      <div class="col-md-6 col-lg-3 card_ht">
        <nb-card [size]="'large'" class=" p-2 mb-0 leftCard">
          <nb-card-header>
            <div class="text-center mt-2">
              <nb-button-group size="small" (valueChange)="updateSingleSelectGroupValue($event)">
                <button nbButtonToggle>ENROLLED</button>
                <button nbButtonToggle pressed>ALL</button>
              </nb-button-group>
            </div>
            <div class="text-center my-4 d-flex justify-content-around">
              <nb-icon class="mx-2" nbTooltip="Filter" nbTooltipPlacement="top" icon="funnel-outline"
                (click)="open(dialog)"></nb-icon>
              <!-- filter card Start -->
              <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>FILTER</nb-card-header>
                  <nb-card-body>
                    <div>
                      <nb-form-field> <input type="search" class="my-2" nbInput fullWidth fieldSize="medium"
                          placeholder="First Name" [(ngModel)]="firstName"> </nb-form-field>
                      <nb-form-field> <input type="search" class="my-2" nbInput fullWidth fieldSize="medium"
                          placeholder="Last Name" [(ngModel)]="lastName"> </nb-form-field>
                      <nb-form-field> <input type="search" class="my-2" nbInput fullWidth fieldSize="medium"
                          placeholder="Provider"> </nb-form-field>
                      <!-- <input type="search" class="my-2" nbInput fullWidth fieldSize="medium" placeholder="Care Manager"> -->
                      <nb-form-field>
                        <nb-select placeholder="Care Manager" fullWidth [(ngModel)]="selectedItemNgModel">
                          <nb-option *ngFor="let user of users" [value]="user.providerID">
                            {{ user.name }}
                          </nb-option>
                        </nb-select>
                      </nb-form-field>
                      <nb-form-field> <input type="search" class="my-2" nbInput fullWidth fieldSize="medium"
                          placeholder="DD/MM/YYYY"> </nb-form-field>
                    </div>
                    <div>
                      <nb-button-group class="my-2 " (valueChange)="updateGenderValue($event)">
                        <button nbButtonToggle pressed value='A'>ALL</button>
                        <button nbButtonToggle class="px-4" value='M'>MALE</button>
                        <button nbButtonToggle value='F'>FEMALE</button>
                        <button nbButtonToggle class="px-4" value='O'>OTHER</button>
                      </nb-button-group>
                    </div>
                    <div>
                      <nb-button-group class="my-2" (valueChange)="updateEnrollValue($event)" [(ngModel)]="enrollValue">
                        <button nbButtonToggle pressed value="-1">ALL</button>
                        <button class="btn_roll" value="0" nbButtonToggle>UNENROLLED</button>
                        <button class="btn_roll" value="1" nbButtonToggle>ENROLLED</button>
                      </nb-button-group>
                    </div>
                  </nb-card-body>
                  <nb-card-footer>
                    <div class="d-flex justify-content-between">
                      <button nbButton status="warning">CLEAR</button>
                      <button nbButton status="danger" (click)="ref.close()">CANCEL</button>
                      <button nbButton status="success" (click)="searchPatient('search')">SEARCH</button>
                    </div>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
              <!-- Filter Card End -->
              <nb-icon class="mx-2" nbTooltip="Add Patient" nbTooltipPlacement="top" icon="plus-circle-outline"
                (click)="open(dialog1)"></nb-icon>
              <!-- Add Patient Start -->
              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card class="addPatient_card">
                  <nb-card-header class="row">
                    <div class="col-10">SIGN UP</div>
                    <div class="col-1"><nb-icon class="mx-2" nbTooltip="Close" nbTooltipPlacement="top"
                        icon="close-outline" (click)="ref.close()"></nb-icon></div>
                  </nb-card-header>
                  <nb-card-body>
                    <div>
                      <nb-form-field class="my-3">
                        <label for="username">Username or Email</label>
                        <input id="username" type="text" class="my-2" nbInput fullWidth placeholder="Username or Email">
                      </nb-form-field>
                      <nb-form-field>
                        <label for="pass">Password</label>
                        <input id="pass" [(ngModel)]="theAddPatient" (ngModelChange)="valuechange($event)"
                          type="password" class="my-2" nbInput fullWidth placeholder="Password">
                        <div>
                          <div class="row mt-1">
                            <div class="col d-flex">
                              <div class="col my-1 d-flex ">
                                <nb-checkbox [checked]="caps == true" status="basic"></nb-checkbox>
                                <div class="ms-2" [ngStyle]="{'color': caps? 'green' : 'red'}">At least one uppercase
                                </div>
                              </div>
                              <div class="col my-1 d-flex">
                                <nb-checkbox [checked]="lower == true" status="basic"></nb-checkbox>
                                <div class="ms-2" [ngStyle]="{'color': lower? 'green' : 'red'}">At least one lowercase
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-1">
                            <div class="col d-flex ">
                              <div class="col my-1 d-flex">
                                <nb-checkbox [checked]="number == true" status="basic"></nb-checkbox>
                                <div class="ms-2" [ngStyle]="{'color': number? 'green' : 'red'}">At least one number
                                </div>
                              </div>
                              <div class="col my-1 d-flex">
                                <nb-checkbox [checked]="special == true" status="basic"></nb-checkbox>
                                <div class="ms-2" [ngStyle]="{'color': special ? 'green' : 'red'}">One special
                                  characters</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </nb-form-field>
                    </div>
                  </nb-card-body>
                  <nb-card-footer>
                    <div class="display">
                      <button nbButton status="success" size="small">CONTINUE</button>
                    </div>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
              <!-- Add Patient End -->
              <nb-icon class="mx-2" nbTooltip="Patient List" nbTooltipPlacement="top" icon="grid-outline"
                (click)="open(dialog2)"></nb-icon>
              <!-- Patient List Starts -->
              <ng-template #dialog2 let-data let-ref="dialogRef">
                <nb-card size="medium">
                  <nb-card-header>
                    <div class="row d-flex justify-content-between">
                      <div class="col-9">Log Notes</div>
                      <button class="col-3" nbButton status="success" size="medium" (click)="open(dialog3)">SMART
                        NOTES</button>
                      <!-- AddNote Card -->

                      <ng-template #dialog3 let-data let-ref="dialogRef">
                        <nb-card size="giant" class="addNote">
                          <nb-card-header>
                            <div class="row">
                              <div class="col">Add Notes</div>
                              <div class="col">@</div>
                            </div>
                            <div class="row">
                              <button nbButton class="col" outline status="primary">My Smart Notes</button>
                              <button nbButton class="col" outline status="success">System Smart Notes</button>
                            </div>
                            <div class="row">
                              <div class="col-8"><input nbInput type="search" placeholder="search"></div>
                              <button nbButton class="col-4" status="primary">ADD SMART NOTES</button>
                            </div>
                          </nb-card-header>
                          <nb-card-body>
                            <div class="row">
                              <div class="col">Alert Management</div>
                              <button nbButton class="col" status="primary">SELECT</button>
                            </div>
                          </nb-card-body>
                          <nb-card-footer>

                          </nb-card-footer>
                        </nb-card>
                      </ng-template>
                      <!-- AddNote Card End-->
                    </div>
                  </nb-card-header>
                  <nb-card-body>
                    <p>NOTES</p>
                    <textarea nbInput fullWidth placeholder="Write a Messsage" rows="9"
                      cols="55">Clinical staff Monitoring</textarea>
                  </nb-card-body>
                  <nb-card-footer class="d-flex justify-content-end">
                    <button nbButton class="me-3" status="warning" size="medium" (click)="ref.close()">IGNORE</button>
                    <button nbButton status="success" size="medium">SAVE</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
              <!-- Patient List Ends -->
              <nb-icon class="mx-2" nbTooltip="Refresh List" nbTooltipPlacement="top" icon="refresh-outline"
                (click)="refreshData()"></nb-icon>
            </div>
            <div class="w-100 mx-auto">
              <nb-form-field class="w-100 ">
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input class="ps-5 w-100 mx-auto" fullWidth type="search" nbInput status="success"
                  [(ngModel)]="patientSearch" (ngModelChange)="searchPatient()">
              </nb-form-field>
            </div>
          </nb-card-header>
          <nb-card-body class="p-0">
            <nb-list [nbSpinner]="loading" class="mx-2 cardht">
              <nb-list-item *ngFor="let data of searchvalues" class="row py-2 px-0" (click)="getDisplayProfiless(data)">
                <!-- <div class="row"> -->
                <div class="col-9 ">
                  <nb-user size="large" class="mt-2 mb-2" [picture]="data?.imageUrl"
                    name="{{data?.firstName}} {{data?.lastName}}" title="{{data?.dob}} "></nb-user>
                </div>
                <div class="col-1">
                  <nb-icon nbTooltip="Edit" nbTooltipPlacement="top" icon="edit-outline"></nb-icon>
                </div>
                <!-- </div> -->
              </nb-list-item>
            </nb-list>
            <div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- layout col-2 start -->
      <div class="col-md-6 col-lg-9 rightCard" id="cont">
        <nb-card [size]="'small'" class=" card2 p-2  mb-0">
          <nb-card-body>
            <!-- card2 row start -->
            <div class="row" *ngIf="!patientProfile">
              <!-- card2 col-1 -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <nb-user size="giant" [picture]="profile?.imageURL " onlyPicture></nb-user>
                <div>{{profile?.firstName}} {{profile?.lastName}}</div>
                <small>{{profile?.dob}}</small>
                <div class="row">
                  <div class="col my-5 ">
                    <button nbButton class="m-1" status="danger" size="tiny"><nb-icon
                        icon="pause-circle-outline"></nb-icon></button>
                    <button nbButton class="m-1" status="success" size="tiny"><nb-icon
                        icon="refresh-outline"></nb-icon></button>
                    <button nbButton class="m-1" status="primary" size="tiny"><nb-icon
                        icon="file-text-outline"></nb-icon></button>
                  </div>
                </div>
              </div>
              <!-- card2 col-2 -->
              <div class=" col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <div><nb-icon nbTooltip="Phone" nbTooltipPlacement="left" icon="phone" class="m-2"></nb-icon>
                  {{profile?.cellNumber }}</div>
                <div><nb-icon nbTooltip="Email" nbTooltipPlacement="left" icon="email-outline"
                    class="m-2"></nb-icon>{{profile?.profileEmail }}</div>
                <div [ngSwitch]="profile?.gender">
                  <div *ngSwitchCase="0"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Male</div>
                  <div *ngSwitchCase="1"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Female</div>
                  <div *ngSwitchCase="2"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Others</div>
                </div>

                <div><i nbTooltip="Language" nbTooltipPlacement="left"
                    class="fa-solid fa-language m-2"></i>{{profile?.languageName}}</div>
                <div class="col addPatientReminder mt-4" (click)="open(dialog4)">
                  <nb-icon icon="plus-outline" class="text-primary "></nb-icon> <span class="text-primary ">ADD PATIENT
                    REMINDER</span>
                </div>
                <!-- ADD PATIENT REMINDER Starts -->
                <ng-template #dialog4 let-data let-ref="dialogRef">
                  <nb-card size="small">
                    <nb-card-header>
                      <div class="row d-flex justify-content-between">
                        <div class="col-8">Add Patient Reminder</div>
                        <button class="col-4" nbButton status="success" size="medium">SMART NOTES</button>
                      </div>
                    </nb-card-header>
                    <nb-card-body>
                      <small class="text-muted fw-bold">NOTES</small>
                      <textarea class="mt-1" nbInput fullWidth placeholder="Write a Messsage" rows="4"
                        cols="45"></textarea>
                    </nb-card-body>
                    <nb-card-footer class="d-flex justify-content-end">
                      <button nbButton class="me-3" status="danger" size="medium" (click)="ref.close()">CANCEL</button>
                      <button nbButton status="success" size="medium">SAVE</button>
                    </nb-card-footer>
                  </nb-card>
                </ng-template>
                <!-- ADD PATIENT REMINDER Ends -->
              </div>
              <!-- card2 col-3 -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <div><i nbTooltip="Location" nbTooltipPlacement="left"
                    class="fa-sharp fa-solid fa-location-dot m-2"></i>{{profile?.address}}, {{profile?.zipCode}},
                  {{profile?.country}}</div>
              </div>
              <!-- card2 col-4 -->
              <div class="col-12 btn_cls  col-sm-12 col-md-12 col-lg-3 my-2">
                <button nbButton class="m-1 sizze" status="danger" size="small"><nb-icon
                    icon="info-outline"></nb-icon>ESCALATE</button>
                <button nbButton class="m-1 sizze" status="primary" size="small"><nb-icon
                    icon="message-circle-outline"></nb-icon>CHAT</button> <br>
                <button nbButton class="m-1 sizze" status="success" size="small"><nb-icon
                    icon="phone-call-outline"></nb-icon>CALL</button>
                <button nbButton class="bg-secondary text-white m-1 sizze" size="small"><nb-icon
                    icon="message-square-outline"></nb-icon>MESSAGE</button>
                <button nbButton class="m-1 sizze" status="warning" size="small"><nb-icon
                    icon="clock-outline"></nb-icon>ASSESSMENT</button>
                <button nbButton class="m-1 sizze" status="info" size="small"><nb-icon
                    icon="file-text-outline"></nb-icon>GENERAL</button>
              </div>
            </div>
            <div class="row" *ngIf="patientProfile">
              <!-- card2 col-1 -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <nb-user size="giant" [picture]="patientProfile?.imageURL || patientProfile?.imageUrl" onlyPicture></nb-user>
                <div>{{patientProfile?.firstName}} {{patientProfile?.lastName}}</div>
                <small>{{patientProfile?.dob}}</small>
                <div class="row">
                  <div class="col my-5 ">
                    <button nbButton class="m-1" status="danger" size="tiny"><nb-icon
                        icon="pause-circle-outline"></nb-icon></button>
                    <button nbButton class="m-1" status="success" size="tiny"><nb-icon
                        icon="refresh-outline"></nb-icon></button>
                    <button nbButton class="m-1" status="primary" size="tiny"><nb-icon
                        icon="file-text-outline"></nb-icon></button>
                  </div>
                </div>
              </div>
              <!-- card2 col-2 -->
              <div class=" col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <div><nb-icon nbTooltip="Phone" nbTooltipPlacement="left" icon="phone" class="m-2"></nb-icon>
                  {{patientProfile?.cellNumber || patientProfile?.phoneNumber}}</div>
                <div ><nb-icon nbTooltip="Email" nbTooltipPlacement="left" icon="email-outline"
                    class="m-2"></nb-icon>{{patientProfile?.profileEmail || patientProfile?.email}}</div>
                <div [ngSwitch]="patientProfile?.gender">
                  <div *ngSwitchCase="0"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Male</div>
                  <div *ngSwitchCase="1"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Female</div>
                  <div *ngSwitchCase="2"><i nbTooltip="Gender" nbTooltipPlacement="left"
                      class="fa-solid fa-venus-mars m-2"></i>Others</div>
                </div>

                <div><i nbTooltip="Language" nbTooltipPlacement="left"
                    class="fa-solid fa-language m-2"></i>{{patientProfile?.languageName}}</div>
                <div class="col addPatientReminder mt-4" (click)="open(dialog4)">
                  <nb-icon icon="plus-outline" class="text-primary "></nb-icon> <span class="text-primary ">ADD PATIENT
                    REMINDER</span>
                </div>
                <!-- ADD PATIENT REMINDER Starts -->
                <ng-template #dialog4 let-data let-ref="dialogRef">
                  <nb-card size="small">
                    <nb-card-header>
                      <div class="row d-flex justify-content-between">
                        <div class="col-8">Add Patient Reminder</div>
                        <button class="col-4" nbButton status="success" size="medium">SMART NOTES</button>
                      </div>
                    </nb-card-header>
                    <nb-card-body>
                      <small class="text-muted fw-bold">NOTES</small>
                      <textarea class="mt-1" nbInput fullWidth placeholder="Write a Messsage" rows="4"
                        cols="45"></textarea>
                    </nb-card-body>
                    <nb-card-footer class="d-flex justify-content-end">
                      <button nbButton class="me-3" status="danger" size="medium" (click)="ref.close()">CANCEL</button>
                      <button nbButton status="success" size="medium">SAVE</button>
                    </nb-card-footer>
                  </nb-card>
                </ng-template>
                <!-- ADD PATIENT REMINDER Ends -->
              </div>
              <!-- card2 col-3 -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 my-2">
                <div><i nbTooltip="Location" nbTooltipPlacement="left"
                    class="fa-sharp fa-solid fa-location-dot m-2"></i>{{patientProfile?.address}},
                  {{patientProfile?.zipCode}},
                  {{patientProfile?.country}}</div>
              </div>
              <!-- card2 col-4 -->
              <div class="col-12 btn_cls  col-sm-12 col-md-12 col-lg-3 my-2">
                <button nbButton class="m-1 sizze" status="danger" size="small"><nb-icon
                    icon="info-outline"></nb-icon>ESCALATE</button>
                <button nbButton class="m-1 sizze" status="primary" size="small"><nb-icon
                    icon="message-circle-outline"></nb-icon>CHAT</button> <br>
                <button nbButton class="m-1 sizze" status="success" size="small"><nb-icon
                    icon="phone-call-outline"></nb-icon>CALL</button>
                <button nbButton class="bg-secondary text-white m-1 sizze" size="small"><nb-icon
                    icon="message-square-outline"></nb-icon>MESSAGE</button>
                <button nbButton class="m-1 sizze" status="warning" size="small"><nb-icon
                    icon="clock-outline"></nb-icon>ASSESSMENT</button>
                <button nbButton class="m-1 sizze" status="info" size="small"><nb-icon
                    icon="file-text-outline"></nb-icon>GENERAL</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <div class=" my-2 scroll pb-0">
          <nb-tabset (changeTab)="onChangeTab($event)">
            <nb-tab class="p-0" tabTitle="SNAPSHOT" responsive>
              <div class="p-0">
                <app-snapshot [patientDetailss]="patientProfile"> </app-snapshot>
              </div>
            </nb-tab>
            <nb-tab class="p-0" tabTitle="VITALS" responsive>
              <app-vitals [getPatientDetails]="patientProfile"></app-vitals>
            </nb-tab>
            <nb-tab class="p-0" tabTitle="ALERTS" responsive>
              <app-alerts  [gettingPatientDetails]="patientProfile"></app-alerts>
            </nb-tab>
            <nb-tab class="p-0" tabTitle="ASSESSMENT" responsive>
              <app-assessment [gettingPatientDetails]="patientProfile"></app-assessment> 
            </nb-tab>
            <nb-tab class="p-0" tabTitle="DOCUMENTS" responsive> 
              <app-documents [gettingPatientDetails]="patientProfile"></app-documents>
            </nb-tab>
            <nb-tab class="p-0" tabTitle="HISTORY" responsive>
              <app-history [gettingPatientDetails]="patientProfile"></app-history> 
            </nb-tab>
            <nb-tab class="p-0" tabTitle="TASKS" responsive>
              <app-task [gettingPatientDetails]="patientProfile"></app-task> 
            </nb-tab>
          </nb-tabset>
        </div>
      </div>
    </div>
  <!-- </nb-layout-column>
</nb-layout> -->