<nb-card size="giant" class=" mb-0">
   <div class="d-flex justify-content-end my-2">
      <nb-actions size="medium">
         <nb-action icon="plus-outline"></nb-action>
         <nb-action icon="refresh-outline"></nb-action>
      </nb-actions>
   </div>
   <ngx-datatable class="material h-100 mt-5" [rows]="rows" columnMode="force" [headerHeight]="50" [rowHeight]="50"
      [scrollbarV]="true">
      <ngx-datatable-column name="Title" prop="fileName" [flexGrow]="3" headerClass="text-center"
         cellClass="text-center">
         <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="description" [flexGrow]="3" headerClass="text-center"
         cellClass="text-center">
         <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="url" [flexGrow]="3" headerClass="text-center"
         cellClass="text-center">
         <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
         </ng-template>
      </ngx-datatable-column>
   </ngx-datatable>
</nb-card>