<nb-card size="giant" class=" mb-0">
    <nb-card-body>
       <nb-tabset fullWidth>
          <nb-tab tabTitle="Task"></nb-tab>
          <nb-tab tabTitle="Completed"></nb-tab>
       </nb-tabset>
          <div class="d-flex ">
              <nb-icon  (click)="taskFun(-1)" class=" my-auto mx-1 " style="font-size: 2rem;" icon="arrow-ios-back-outline"></nb-icon>
              <input nbInput placeholder="Date" class="form-control" [nbDatepicker]="datePicker"
              size="small"[(ngModel)]="dateValue">
              <nb-datepicker #datePicker></nb-datepicker>
              <nb-icon  (click)="taskFun(1)" class=" my-auto mx-1" style="font-size: 2rem;" icon="arrow-ios-forward-outline"></nb-icon>
              <button nbButton status="info" (click)="taskFun()">Today</button>
          </div>
          <ngx-datatable class="material h-100" [rows]="rows" columnMode="force" [headerHeight]="50" [footerHeight]="0" 
          [rowHeight]="50" [scrollbarV]="true" >
          <ngx-datatable-column name="Time" prop="startTime" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ getDateValue(value) }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Task" prop="startTime" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value || "-" }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Task description" prop="details" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value  || "-" }}
            </ng-template>
          </ngx-datatable-column>
          </ngx-datatable>
    </nb-card-body>
 </nb-card>
