.sizzze{
    width: 60% !important; 
    // justify-content: start;
}
.siizze{
    width: 62% !important;
}
.video{
    background-color: #00d68f !important;
    color: white !important;
}
.audio{
background-color: #04b430 !important;
color: white !important;

}
.call{
background-color: #056430 !important;
color: white !important;

}
.message{
background-color: #7b51db !important;
color: white !important;

}