<!-- <app-documents><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia delectus ratione aspernatur tenetur sint voluptatem modi distinctio consequatur maiores nisi repellendus sapiente, incidunt eius, laudantium nam voluptatum. Aut, sunt!
</div></app-documents> -->

<nb-card size="giant" class=" mb-0">
    <nb-card-header class="d-flex justify-content-end my-2">
      <nb-actions size="medium">
        <nb-action icon="plus-circle-outline"></nb-action>
        <nb-action icon="refresh-outline"></nb-action>
      </nb-actions>
    </nb-card-header>
  <!-- </app-documents> -->
  <nb-card-body>

    <ngx-datatable class="material h-100" [rows]="row" columnMode="force" [headerHeight]="50" [footerHeight]="0"
      [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true">
      <ngx-datatable-column name="Date & Time" prop="audittime" headerClass="text-center" cellClass="text-center">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{getDateValue(value)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name" headerClass="text-center" cellClass="text-center">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Duration" prop="duration" headerClass="text-center" cellClass="text-center">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{getDuration(value)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Notes" prop="description" headerClass="text-center" cellClass="text-center">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
